<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.foodtruck">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.example.foodtruck.activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.RegisterActivity" />
        <activity android:name=".activities.customer.CustomerMenuActivity"/>
        <activity android:name=".activities.customer.CustomerTruckInfoActivity"/>
        <activity android:name=".activities.customer.CustomerShowRouteActivity"/>
        <activity android:name=".activities.customer.CustomerShowMenuActivity"/>
        <activity android:name=".activities.customer.CustomerShowOrdersActivity"/>
        <activity android:name=".activities.customer.CustomerShowOrderDetailsActivity"/>
        <activity android:name=".activities.customer.CustomerNewOrderActivityOne"/>
        <activity android:name=".activities.customer.CustomerNewOrderActivityTwo"/>
        <activity android:name=".activities.customer.CustomerThankYouActivity"/>
        <activity android:name=".activities.customer.CustomerLocationActivity"/>
        <activity android:name=".activities.operator.OperatorMenuActivity" />
        <activity android:name=".activities.operator.OperatorSpeisekarteActivity" />
        <activity android:name=".activities.operator.OperatorBestellungenActivity" />
        <activity android:name=".activities.operator.OperatorLebensmittelbestellungActivity" />
        <activity android:name=".activities.operator.OperatorAktuellerstandortActivity" />
        <activity android:name=".activities.operator.OperatorRoutebearbeitenActivity" />
        <activity android:name=".activities.operator.OperatorAddstandortActivity" />
        <activity android:name=".activities.operator.OperatorStandortbearbeitenActivity" />
        <activity android:name=".activities.operator.OperatorSpeiseBearbeitenActivity" />
        <activity android:name=".activities.operator.OperatorSpeiseNeuActivity" />
        <activity android:name=".activities.operator.OperatorAddzutatActivity" />
        <activity android:name=".activities.operator.OperatorBestellungActivity" />
        <activity android:name=".activities.operator.OperatorLebensmittelbestellungZutatenActivity" />

    </application>

</manifest>